{% extends "base.html" %}
{% load static %}
{% block page_title %}
Home
{% endblock page_title%}

{% block content %}
<div class="container mx-auto pb-10">
    <div class="rounded-xl bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center"
        style="background-image: url('static/img/bg.jpg');">
    </div>
    <div class="flex flex-wrap">
        <!-- 개인추천화 시스템 -> superhost만 보이게 수정 -->
        <!-- div class="flex-wrap -mx-40 mb-10" => class명 변경-->
        {% for room in rooms  %}
        {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"><i
                class="fas fa-arrow-left fa-lg"></i></a>
        {% endif%}

        <span class="mx-3 font-medium text-lg">Page {{page_obj.number}} of
            {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"><i class="fas fa-arrow-right fa-lg"></i></a>
        {% endif%}
    </div>
</div>

{% endblock content %}